/* Home Page */
* {
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: black;
  font-family: 'Courier New', sans-serif;
}

h1, a {
  font-size: 50px;
  background-color: red;
  color: black
}

h2 {
  font-size: 30px;
}

p, li {
  font-size: 20px;
}

li {
  text-align: left;
}

.ingredients, .dressing, .steps {
  text-align: left;
  font-size: 30px;
  font-family:  
  
}
/* Recipes */
