/* Home Page */
* {
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: black;
  font-family: Garamond, sans-serif;}

.home, .link, .list {
  font-size: 35px; text-align:left;}

#desc, #bck, #opps{text-align:center;}
#opps, #bck {font-size:40;}
#opps {background-color: #f54242; color: black;}


h1 {font-size:50px; background-color:#f54242; color: black;}
h2, h3 {font-size: 35px; text-align:left;}
li {text-align: left; font-size: 20px;}
